
.expandComments {
  cursor: pointer;
}

.commentContainer {
  width: 85%;
  margin-left: 4%;
  margin-top: 2%;
}

.commentBody {
  margin-top: 1%;
  width: 100%;
  word-wrap: break-word;
  color: black;
}

.expandComments, .expandedComments{
  font-weight: 600;
  color: #a3a2a2;
}

.expandedComments {
  color: #EE6F2D;
}

