.mainFeedContainer{
  width: 85%;
  border: 1px solid black;
}

.feedBlockContainer, .feedBlockContainerExpanded {
  width: 100%;
  border: 1px solid black;
  height: 80px;
}

.expandComments {
  cursor: pointer;
}


.feedBlockContainerExpanded {
  height: auto;
}

.commentContainer {
  width: 100%;
}

.boundingRect {
  position: fixed;
  height: 100px;
  width: 100%;
  border: 3px solid red;
  left: 5%;
  top: 5%;
}